@using Shop.Application.DTOs.Accounts
@using Shop.Application.Extentions
@using Shop.Application.Utils;
@using Shop.Domain.Models.Account
@using Shop.Domain.Models.OrderEntities;
@{
    var user = (User)ViewBag.User;
    var order = (Order)ViewBag.Order;
}

<header class="header header-6">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <ul class="top-menu top-link-menu d-none d-md-block">
                    <li>
                        <ul>
                            <li><a href=""><i class="icon-phone"></i>تلفن تماس : 09118898014</a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="social-icons social-icons-color">
                    <a href="/" class="social-icon social-instagram" title="اینستاگرام" target="_blank">
                        <i class="icon-instagram"></i>
                    </a>
                    <a href="/" class="social-icon social-telegram" title="تلگرام" target="_blank">
                        <i class="icon-telegram"></i>
                    </a>
                </div><!-- End .soial-icons -->
                <ul class="top-menu top-link-menu">
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul>
                                <li>
                                    <a asp-area="User" asp-controller="Home" asp-action="Index"><i class="icon-user"></i>@user.GetUserName()</a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Logout"><i class="icon-user"></i>خروج</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li>
                                    <a asp-controller="Account" asp-action="Register"><i class="icon-user"></i>ثبت نام</a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Login"><i class="icon-user"></i>ورود</a>
                                </li>
                            </ul>
                        }
                    </li>
                </ul><!-- End .top-menu -->

            </div><!-- End .header-right -->
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form asp-area="" asp-controller="Product" asp-action="Products" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">

                            <a class="btn btn-primary" type="submit"><i class="icon-search"></i></a>
                            <input type="search" class="form-control mr-4" name="ProductName" id="q"
                                   placeholder="جستجوی محصول ..." required>
                        </div>
                    </form>
                </div>
            </div>
            <div class="header-center">
                <a href="/" class="logo">
                    <img src="/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
                </a>
            </div><!-- End .header-left -->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="header-right">
                    <a href="wishlist.html" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <span class="wishlist-count">3</span>
                        <span class="wishlist-txt">علاقه مندی</span>
                    </a>

                    <div class="dropdown cart-dropdown">
                        @if (order != null)
                        {
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                </div>
                                <h6>سبد خرید</h6>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    @if (order.OrderDetails != null && order.OrderDetails.Any())
                                    {
                                        @foreach (var item in order.OrderDetails)
                                        {

                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@item.Product.Id">@item.Product.Name</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">@item.Count * </span>
                                                        @{
                                                            var price = (item.Count * item.Price);
                                                        }
                                                        @price.ToString("#,0 تومان")
                                                    </span>
                                                </div>

                                                <figure class="product-image-container">
                                                    <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@item.Product.Id" class="product-image">
                                                        <img src="@(PathExtensions.ProductOrgin +item.Product.ProductImageName)" alt="@item.Product.Name">
                                                    </a>
                                                </figure>
                                            </div>
                                        }
                                    }
                                </div>

                                <div class="dropdown-cart-total">
                                    <span>مجموع</span>

                                    <span class="cart-total-price">@order.OrderSum.ToString("#,0 تومان")</span>
                                </div>

                                <div class="dropdown-cart-action">
                                    <a asp-area="User" asp-controller="Account" asp-action="UserBasket" asp-route-orderId="@order.Id" class="btn btn-outline-primary-2">
                                        <span>مشاهده سبد خرید</span><i class="icon-long-arrow-left"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    </div><!-- End .cart-dropdown -->
                </div>

            }
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
    <div class="header-bottom sticky-header">
        <div class="container">
            @await Component.InvokeAsync("NavbarCategory")

            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="/">خانه</a>
                    </li>
                    <li class="megamenu-container">
                        <a asp-area="" asp-controller="Product" asp-action="Products">محصولات</a>
                    </li>
                </ul><!-- End .menu -->
            </nav><!-- End .main-nav -->

        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header>