@model EditUserFromAdminVM
@{
    ViewData["Title"] = "ویرایش کاربر";
    var roles = ViewData["Roles"] as List<Role>;
}
<form asp-area="Admin" asp-controller="User" asp-action="EditUser" method="post">

    <div class="row mt-4">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">ویرایش اطلاعات</p>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label class="form-lable">نام</label>
                        <input class="form-control" asp-for="FirstName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-lable">نام خانوادگی</label>
                        <input class="form-control" asp-for="LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-lable">شماره همراه: @Model.PhoneNumber</label>
                        <input class="form-control" asp-for="PhoneNumber" type="hidden">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-lable">گذرواژه</label>
                        <input class="form-control" type="password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-lable">جنسیت</label>
                        <select class="form-control" asp-for="UserGender" asp-items="@Html.GetEnumSelectList<UserGender>()"></select>
                        <span asp-validation-for="UserGender" class="text-danger"></span>
                    </div>


                    <div class="mt-5">
                        <button type="submit" class="btn btn-warning btn-block ">ویرایش اطلاعات</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">نقش ها</p>
                     @if (roles != null && roles.Any())
                    {
                        @foreach (var role in roles)
                        {
                            var isPermissionSelected = Model.RoleIds.Any(s => s == role.Id);
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" @(isPermissionSelected ? "checked" : "") name="@nameof(Model.RoleIds)" value="@role.Id" />
                                    <span class="text">@role.RoleTitle</span>
                                </label>
                            </div>
                        }
                    } 
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <partial name="_ValidationScripts" />
}