@using Shop.Web.Models.VM.Site.Slider;
@model FilterSlidersVM
@{
    ViewData["Title"] = "مدریت اسلایدر ها";
    var index = 1;
}

<div class="row mt-5">
    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="Slider" asp-action="CreateSlider" class="btn btn-info mt-3 mb-3 btn-block">افزودن اسلایدر</a>

        <div class="card shadow-sm">
            <div class="card-body">

                <p class="card-text">@ViewData["Title"]</p>
                <form asp-area="admin" asp-controller="Slider" asp-action="FilterSlider" id="filter-Form" method="get">
                    <input asp-for="PageId" type="hidden" />
                    <div class="form-group">
                        <label id="PhoneNumber" class="form-label">فیلتر براساس عنوان:</label>
                        <input type="text" asp-for="SliderTitle" class="form-control" placeholder="عنوان" />
                    </div>
                    <button type="submit" class="btn btn-info mt-3 mb-3 btn-block">فیلتر</button>
                </form>


            </div>
        </div>


    </div>
    <div class="col-md-9">
        @if (Model.Sliders != null && Model.Sliders.Any())
        {
            <div class="card shadow-sm">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">تصویر</th>
                                <th scope="col">عنوان</th>
                                <th scope="col">url</th>
                                <th scope="col">دستورات</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var slider in Model.Sliders)
                            {
                                <tr>
                                    <th scope="row">@index</th>
                                    <td>
                                        <img src="@(PathExtensions.SliderThumb +slider.SliderImage)" class="img-thumbnail" >
                                    </td>
                                    <td>@slider.SliderTitle</td>
                                    <td>@slider.Href</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="Slider" asp-action="EditSlider" asp-route-sliderId="@slider.Id">ویرایش</a>
                                        <a class="btn btn-danger btn-sm" onclick="confirm('آیا حذف انجام گیرد؟')" asp-area="Admin" asp-controller="Slider" asp-action="DeleteSlider" asp-route-sliderId="@slider.Id">حذف</a>
                                    </td>
                                </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        }
        else
        {
            <div class="alert alert-danger">
                <b>ایتمی وجود ندارد</b>
            </div>
        }

        <partial name="_AdminPaging" model="Model.GetCurrentPaging()" />
    </div>
</div>