@using Shop.Domain.Models.OrderEntities;
@model Order
@{
    ViewData["Title"] = "سبد خرید";
    int userWalletAmount = (Int32)ViewBag.UserWalletAmount;
}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">خانه</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Product" asp-action="Products">فروشگاه</a></li>
            <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="page-content">
    <div class="cart">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    @if (Model.OrderDetails != null && Model.OrderDetails.Any())
                    {
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>محصول</th>
                                    <th>قیمت</th>
                                    <th>تعداد</th>
                                    <th>مجموع</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var order in Model.OrderDetails)
                                {
                                    <tr id="ajax-url-item-@order.Id">
                                        <td class="product-col">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@order.Product.Id">
                                                        <img src="@(PathExtensions.ProductThumb + order.Product.ProductImageName)" alt="@order.Product.Name">
                                                    </a>
                                                </figure>

                                                <h3 class="product-title">
                                                    <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@order.Product.Id">@order.Product.Name</a>
                                                </h3>
                                            </div>
                                        </td>
                                        <td class="price-col">@order.Price.ToString("#,0 تومان")</td>
                                        <td class="quantity-col">
                                            <div class="cart-product-quantity">
                                                @order.Count
                                            </div>
                                        </td>
                                        @{
                                            var price = order.Price * order.Count;
                                            var productFinallyPrice = price.ToString("#,0 تومان");
                                        }

                                        <td class="total-col">@(productFinallyPrice)</td>
                                        <td><a  asp-area="User" asp-controller="Account" asp-action="DeleteOrderDetail" asp-route-orderDetailId="@order.Id" class="btn btn-danger btn-sm" ajax-url-button="@order.Id">حذف</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!-- End .table table-wishlist -->
                    }
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3">
                    <form asp-area="User" asp-controller="Account" asp-action="UserBasket" method="post">
                        <input type="hidden" name="OrderId" id="OrderId" value="@Model.Id" />
                        <input type="hidden" name="UserId" value="@Model.UserId" />

                        <div class="summary summary-cart" id="main-payments">
                            <partial name="_OrderPrice" model="Model" />
                        </div><!-- End .summary -->

                    </form>

                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cart -->
</div>
@section Scripts{
    <script>
        $('[ajax-url-button]').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var itemId = $(this).attr('ajax-url-button');
            swal({
                title: 'اخطار',
                text: "آیا از انجام عملیات مورد نظر اطمینان دارید؟",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "بله",
                cancelButtonText: "خیر",
                closeOnConfirm: false,
                closeOnCancel: false
            }).then((result) => {
                if (result.value) {
                    $.get(url).then(result => {
                        if (result.status === 'Success') {
                            ShowMessage('موفقیت', "عملیات با موفقیت انجام شد");
                            $('#ajax-url-item-' + itemId).hide(1500);

                            //$('#main-payment').ready(() => {
                            //    location.reload();
                            //});

                            ReloadPrice();
                        }
                    });
                } else if (result.dismiss === swal.DismissReason.cancel) {
                    swal('اعلام', 'عملیات لغو شد', 'error');
                }
            });
        });


        function ReloadPrice() {
            var orderId = $('#OrderId').val();
            $.ajax({
                type: "Get",
                data: { id: orderId },
                async: true,
                url: "/user/reload-price"
            }).done(function (res) {
                $("#main-payments").html(res);
            });
        }
        function ReloadPrice1() {
            var orderId = $('#OrderId1').val();
            $.ajax({
                type: "Get",
                data: { id: orderId },
                async: true,
                url: "/user/reload-price"
            }).done(function (res) {
                $("#main-payments").html(res);
            });
        }
    </script>
}